@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1360px)
  .callback-box
    padding: 30px

@media only screen and (max-width : 1300px)
  .about-product-item1
    left: 50px

  .about-product-item3
    right: 50px

  .about-product-img
    width: 380px
    height: 380px

  .about-product-item2, .about-product-item4
    bottom: 40px

  .about-product-img__circle
    border-width: 10px

  .about-product-img img
    max-width: 340px

@media only screen and (max-width : 1200px)
  .call .product-img
    min-width: 320px


  .price
    padding: 20px

  .old-price
    font-size: 20px
    line-height: 30px

  .new-price
    font-size: 35px
    line-height: 45px

  .call .main-product:before
    width: 420px
    height: 420px

  .call .callback-box
    padding: 30px 27px

  .call h2, h1
    font-size: 40px
    margin: 0 0 20px

  .main-content h3
    font-size: 36px
    margin: 0 0 5px

  .main-advantages
    font-size: 18px
    li
      margin: 0 0 15px

  .stages-orders:before
    width: calc(100% - 40px)

  .ocellus-img
    min-width: 280px

  .container
    padding: 0 40px

  .row
    margin: 0 -40px

  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto
    padding: 0 20px

  .about-product-wrapper
    margin: 30px 0 0

  .about-product-item
    position: relative
    left: 0
    bottom: 0
    top: 0
    right: 0
    margin: 0 0 20px
    max-width: none
    &:last-child
      margin: 0

  .about-product-total
    margin: 20px auto 0
    padding: 20px

  .callback-box
    label
      margin: 0 0 10px
      max-width: 280px

  .menu li
    margin: 0 15px 0 0

  .location
    margin: 0 0 0 30px

  .main-product:before
    width: 600px
    height: 600px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .call .main-product:before
    width: 320px
    height: 320px
    bottom: -113px
    top: auto
    transform: translate(-50%,0)
    left: calc(50% - 32px)

  .call .price
    top: -5px
    left: -32px
    z-index: 1

  .main-advantages
    max-width: none

  .call .product-img
    min-width: 220px
    max-width: 320px

  .call
    padding: 40px 0

  .main-product
    justify-content: center

  .call .main-product
    max-width: 320px
    margin: 35px auto 20px

  .call .callback-box
    margin: 0 auto
    width: fit-content
    h4
      font-size: 20px
      margin: 0 auto 20px

  h3
    font-size: 20px

  .stages-orders
    padding: 20px 0 10px
    h2
      margin: 0 auto 20px

  h2
    font-size: 30px

  .p-120
    padding: 60px 0

  .ocellus-image
    flex-direction: column
    align-items: center
    text-align: center
    padding: 20px
    margin: 30px 0 0
    h3
      margin: 0 auto 8px

  .ocellus-img
    min-width: auto
    max-width: 203px
    width: 100%
    margin: 0 auto

  .ocellus
    .box-text
      margin: 0 0 30px
      max-width: none
    h2
      margin: 10px 0

  .reviews-box
    margin: 60px auto 70px
    padding: 60px 20px 30px

  .reviews h2
    margin: 0 auto 30px

  .expert-img
    margin: 30px auto 0
    justify-content: center
    display: flex
    align-items: center
    max-width: 320px
    p
      bottom: 19px

  .expert-text:before
    left: 0
    top: -40px

  .expert h2
    margin: 0 0 50px

  .result-box
    margin: 0 0 30px
    h3
      font-size: 18px
      margin: 0 0 15px
      text-align: left

  .result-box-images__img .img
    margin: 0 0 15px

  .research
    margin: 0 0 60px

  .research-wrapper
    padding: 40px 40px
    width: calc(100% + 40px)
    margin: 0 -20px

  .research-box
    margin: 40px 0 0
    max-width: none
    h3
      margin: 0 auto 20px

  .list-research
    li
      margin: 0 0 15px

  .person-box
    margin: 20px 0
    flex-direction: row
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    font-size: 16px
    padding: 20px
    h5
      margin: 0 15px 0 0
      font-size: 40px
      line-height: 60px

  .mt-60
    margin-top: 50px

  .when-needed-box__body
    padding: 15px 20px

  .when-needed h2
    margin: 0 auto 10px

  .list-check
    li
      margin: 0 0 15px
      padding: 0 0 0 47px
      &:last-child
        margin: 0 0 15px

  .technology
    h3
      font-size: 18px
      margin: 0 0 30px

  .callback-box
    padding: 30px 27px
    width: fit-content
    margin: 0 auto
    .form
      max-width: 280px
      margin: 0 auto
    .btn
      width: 100%

  main:before
    height: 100%

  main
    padding: 140px 0 40px

  .price
    top: -18px
    left: 0
    z-index: 1

  .product-img
    margin: 0 0 0 32px
    min-width: 320px
    position: relative
    z-index: 2

  .main-product
    max-width: 320px
    margin: 0 auto 20px
    &:before
      width: 320px
      height: 320px
      left: 0
      bottom: 0

  .main-content
    margin: 0 0 35px

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  .list-pay
    justify-content: flex-start
    margin: 15px 0 0

  .footer-bottom
    padding: 30px 0 40px

  .copyright
    max-width: 230px

  .footer-top
    padding: 40px 0 0

  .call .main-content
    padding: 0 10px

  .stages-orders:before
    height: calc(100% - 211px)

  .stages-orders-box
    max-width: 242px
    margin: 0 auto 30px

  .p-120
    padding: 40px 0

  .research
    margin: 0 0 40px

  .line-val
    width: calc(100% - 250px)
    margin: 0 auto 0 10px

  .w92
    width: calc(100% - 250px - 12px)

  .w74
    width: calc(100% - 250px - 24px)

  .w92-5
    width: calc(100% - 250px - 10px)

  .w99-5
    width: calc(100% - 250px - 3px)

  .about-product-img
    margin: 66px auto 0
    width: 320px
    height: 320px

  .about-product-img img
    max-width: 300px

  .reasons
    padding: 40px 0 0

  .reasons-img
    margin: 20px auto 0

  .font-20
    font-size: 18px

  header
    .location
      display: none

  .btn-burger
    display: flex

/* Extra Small Devices, Phones */
@media only screen and (max-width : 576px)
  .stages-orders:before
    height: calc(100% - 211px)


@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 420px)
  .call .callback-box
    max-width: 320px
    width: 100%

  .call .price
    left: 0

  .call .product-img
    max-width: 300px


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

